VITE_API_URL=http://127.0.0.1:8001

# Мок-роль пользователя для разработки без запущенного бэкенда.
# Допустимые значения: employee | client
# VITE_MOCK_USER_ROLE=employee

# true — использовать моки для обращений и уведомлений вместо реального API
# VITE_IS_MOCK=true
